<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062169648695-0d61r01l403t7cfat48aksj94joir0l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062169648695-0d61r01l403t7cfat48aksj94joir0l7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1062169648695-iu8pr1nv4fih0fcinuksrgqv54th6k12.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDE0xUehQErN3bL0xX3tp4jz5An-RXvSOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1062169648695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.medecora</string>
	<key>PROJECT_ID</key>
	<string>medecora-e921a</string>
	<key>STORAGE_BUCKET</key>
	<string>medecora-e921a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062169648695:ios:ea0b2951effdfe4237e9b2</string>
</dict>
</plist>